@import "./breakpoints.scss";
@import "./setup.scss";

html {
  background-color: var(--color-neutral-gray-1);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  max-width: 65rem;
  margin: 3rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 17, 75, 0.15);

  @include sm {
    grid-template-columns: 1fr;
  }
}

.join {
  grid-column: 1 / -1;
  background-color: var(--color-neutral-white);
  padding: 4rem;

  @include sm {
    padding: 2rem;
  }

  &__title {
    font-size: var(--text-heading-size-1);
    color: var(--color-primary-1);
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: var(--text-heading-size-2);
    color: var(--color-primary-2);
    margin-bottom: 1rem;
  }

  &__text {
    font-size: var(--text-para-size);
    color: var(--color-neutral-gray-2);
    line-height: 1.6;
  }
}

.subscription {
  background-color: var(--color-primary-1);
  padding: 4rem;
  color: var(--color-neutral-white);

  @include sm {
    padding: 2rem;
  }

  &__title {
    font-size: var(--text-heading-size-2);
    margin-bottom: 2rem;
  }

  &__price {
    display: flex;
    align-items: center;
    color: var(--color-neutral-gray-1);
    margin-bottom: 2rem;

    span {
      font-size: var(--text-heading-size-1);
      font-weight: var(--text-weight-bold);
      color: var(--color-neutral-white);

      margin-right: 1rem;
    }
  }

  &__text {
    font-size: var(--text-para-size);
    margin-bottom: 4rem;
  }

  &__signup {
    width: 100%;
    font-weight: var(--text-weight-bold);
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    color: var(--color-neutral-white);
    background-color: var(--color-primary-2);
    box-shadow: 5px 5px 30px rgba(0, 17, 75, 0.15);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: translateY(-2px);
      background-color: #c7de5f;
      box-shadow: 5px 5px 40px rgba(0, 17, 75, 0.1);
    }
  }
}

.why {
  background-color: var(--color-primary-3);
  padding: 4rem;
  color: var(--color-neutral-white);

  @include sm {
    padding: 2rem;
  }

  &__title {
    font-size: var(--text-heading-size-2);
    margin-bottom: 2rem;
  }

  &__text {
    width: 80%;
    line-height: 1.4;
    color: var(--color-neutral-gray-1);
  }
}
